<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="icon" href="/favicon.ico" type="image/png">
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    body {
      background: url('/cat_stalk.jpeg') no-repeat center center fixed;
      background-size: cover;
    }
  </style>
</head>
<body class="flex items-center justify-center min-h-screen text-white">
  <nav class="bg-gray-900 text-white p-4 shadow-lg fixed top-0 left-0 right-0 z-50">
		<div class="container mx-auto flex justify-between items-center">
			<a href="/" class="text-lg font-bold">42_Friend</a>
			<div class="space-x-6">
				<a href="/about" class="hover:text-blue-400">About Me</a>
				<a href="/auth/42" class="text-red-400 hover:text-red-600">Login </a>
			</div>
		</div>
	</nav>
	<div class="pt-16">
  <div class="bg-gray-800 bg-opacity-75 p-10 rounded-lg shadow-xl text-center">
    <h1 class="text-4xl font-bold mb-6">Welcome</h1>
    <a href="/auth/42" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-lg transition">Login with 42</a>
  </div>
  <script>

    document.addEventListener("DOMContentLoaded", () => {
      const urlParams = new URLSearchParams(window.location.search);
      const message = urlParams.get("message");
      const error = urlParams.get("error");
  
      if (message) {
        showPopup(message, true);
      } else if (error) {
        showPopup(error, false);
      }
  
      if (message || error) {
        const newUrl = window.location.pathname; 
        window.history.replaceState({}, document.title, newUrl);
      }
    });
    
    function showPopup(message, success) {
			const popup = document.createElement("div");
			popup.innerText = message;

			popup.className = `fixed top-20 right-5 p-4 rounded-lg text-white shadow-lg transition-opacity duration-300 ease-in-out
				${success ? "bg-green-500" : "bg-red-500"} opacity-0`;

			document.body.appendChild(popup);

			// Fade in effect
			setTimeout(() => {
				popup.classList.add("opacity-100");
			}, 50);

			// Remove after timeout
			setTimeout(() => {
				popup.classList.remove("opacity-100");
				setTimeout(() => popup.remove(), 300);
			}, 3000);
		}
    </script>
</body>
</html>
